<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <title>
  僕が死のうと思ったのは -- 曾经我想离开这世界（僕が死のうと思ったのは）乐评
</title>
    
  <meta name="baidu-site-verification" content="cZdR4xxR7RxmM4zE" />
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Expires" content="Sun, 6 Mar 2005 01:00:00 GMT">
  
  <meta name="description" content="僕が死のうと思ったのは -- 曾经我想离开这世界" />
  <meta name="keywords" content="评论,僕が死のうと思ったのは,乐评,观后感"/>
  <meta http-equiv="mobile-agent" content="format=html5; url=https://m.douban.com/music/review/7593383//">

  <meta property="og:title" content="僕が死のうと思ったのは -- 曾经我想离开这世界" />
  <meta property="og:site_name" content="豆瓣"/>
  <meta property="og:url" content="https://music.douban.com/review/7593383/" />
  <meta property="og:type" content="article" />
  <meta property="og:description" content="中島美嘉 翻译：J 僕が死のうと思ったのは 曾经我想离开这世界 因为海猫在码头的悲..." />
    <meta property="og:image" content="https://img9.doubanio.com/view/subject/m/public/s26863805.jpg" />

    <meta name="robots" content="noindex,nofollow">

  <link href="https://img1.doubanio.com/f/vendors/fae7e145bf16b2f427ba0fe7ef3d47c04af3a6c0/css/douban.css" rel="stylesheet" type="text/css">
  <link href="https://img1.doubanio.com/f/vendors/ee6598d46af0bc554cecec9bcbf525b9b0582cb0/css/separation/_all.css" rel="stylesheet" type="text/css">
  <link href="https://img1.doubanio.com/f/zerkalo/4b7b75331a86c9c8275ac6b7306e820fc072e09a/css/init.css" rel="stylesheet" type="text/css">
  <!-- COLLECTED CSS -->
  <style type="text/css"></style>

  <script type="text/javascript">var _head_start = new Date();</script>

  <script type="text/javascript" src="https://img1.doubanio.com/f/vendors/6931d89467c7bd3bb6cd748c05cae22368989aea/js/jquery-1.9.1.min.js"></script>

  <script type="text/javascript" src="https://img1.doubanio.com/f/vendors/e258329ca4b2122b4efe53fddc418967441e0e7f/js/douban.js"></script>
  <script type="text/javascript" src="https://img1.doubanio.com/f/vendors/3c6b740d698898fddd4bb845e4dc1ca29b335dd1/js/lib/moreurl.js"></script>
  <script type="text/javascript" src="https://img1.doubanio.com/f/vendors/b0d3faaf7a432605add54908e39e17746824d6cc/js/separation/_all.js"></script>
  <script type="text/javascript"></script>
  
  <link rel="stylesheet" href="https://img1.doubanio.com/cuphead/zerkalo-static/review/index.8f06b.css">


    <link rel="shortcut icon" href="/pics/favicon.ico" type="image/x-icon">
</head>

<body>
  
  
  <script type="text/javascript">var _body_start = new Date();</script>

  

    



    <link href="//img3.doubanio.com/dae/accounts/resources/f8b2226/shire/bundle.css" rel="stylesheet" type="text/css">



<div id="db-global-nav" class="global-nav">
  <div class="bd">
    
<div class="top-nav-info">
  <a href="https://accounts.douban.com/passport/login?source=main" class="nav-login" rel="nofollow">登录/注册</a>
</div>


    <div class="top-nav-doubanapp">
  <a href="https://www.douban.com/doubanapp/app?channel=top-nav" class="lnk-doubanapp">下载豆瓣客户端</a>
  <div id="doubanapp-tip">
    <a href="https://www.douban.com/doubanapp/app?channel=qipao" class="tip-link">豆瓣 <span class="version">6.0</span> 全新发布</a>
    <a href="javascript: void 0;" class="tip-close">×</a>
  </div>
  <div id="top-nav-appintro" class="more-items">
    <p class="appintro-title">豆瓣</p>
    <p class="qrcode">扫码直接下载</p>
    <div class="download">
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&direct_dl=1&download=iOS">iPhone</a>
      <span>·</span>
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&direct_dl=1&download=Android" class="download-android">Android</a>
    </div>
  </div>
</div>

    


<div class="global-nav-items">
  <ul>
    <li class="on">
      <a href="https://www.douban.com"  data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-main&quot;,&quot;uid&quot;:&quot;0&quot;}">豆瓣</a>
    </li>
    <li class="">
      <a href="https://book.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-book&quot;,&quot;uid&quot;:&quot;0&quot;}">读书</a>
    </li>
    <li class="">
      <a href="https://movie.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-movie&quot;,&quot;uid&quot;:&quot;0&quot;}">电影</a>
    </li>
    <li class="">
      <a href="https://music.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-music&quot;,&quot;uid&quot;:&quot;0&quot;}">音乐</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/podcast/" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-podcast&quot;,&quot;uid&quot;:&quot;0&quot;}">播客</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/location" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-location&quot;,&quot;uid&quot;:&quot;0&quot;}">同城</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/group" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-group&quot;,&quot;uid&quot;:&quot;0&quot;}">小组</a>
    </li>
    <li class="">
      <a href="https://read.douban.com&#47;?dcs=top-nav&amp;dcm=douban" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-read&quot;,&quot;uid&quot;:&quot;0&quot;}">阅读</a>
    </li>
    <li class="">
      <a href="https://fm.douban.com&#47;?from_=shire_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-fm&quot;,&quot;uid&quot;:&quot;0&quot;}">FM</a>
    </li>
    <li class="">
      <a href="https://time.douban.com&#47;?dt_time_source=douban-web_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-time&quot;,&quot;uid&quot;:&quot;0&quot;}">时间</a>
    </li>
    <li class="">
      <a href="https://market.douban.com&#47;?utm_campaign=douban_top_nav&amp;utm_source=douban&amp;utm_medium=pc_web" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-market&quot;,&quot;uid&quot;:&quot;0&quot;}">豆品</a>
    </li>
  </ul>
</div>

  </div>
</div>
<script>
  ;window._GLOBAL_NAV = {
    DOUBAN_URL: "https://www.douban.com",
    N_NEW_NOTIS: 0,
    N_NEW_DOUMAIL: 0
  };
</script>



    <script src="//img3.doubanio.com/dae/accounts/resources/f8b2226/shire/bundle.js" defer="defer"></script>





      


    <link href="//img3.doubanio.com/dae/accounts/resources/f8b2226/music/bundle.css" rel="stylesheet" type="text/css">




<div id="db-nav-music" class="nav">
  <div class="nav-wrap">
  <div class="nav-primary">
    <div class="nav-logo">
      <a href="https:&#47;&#47;music.douban.com">豆瓣音乐</a>
    </div>
    <div class="nav-search">
      <form action="https:&#47;&#47;search.douban.com&#47;music/subject_search" method="get">
        <fieldset>
          <legend>搜索：</legend>
          <label for="inp-query">
          </label>
          <div class="inp"><input id="inp-query" name="search_text" size="22" maxlength="60" placeholder="唱片名、表演者、条码、ISRC" value=""></div>
          <div class="inp-btn"><input type="submit" value="搜索"></div>
          <input type="hidden" name="cat" value="1003" />
        </fieldset>
      </form>
    </div>
  </div>
  </div>
  <div class="nav-secondary">
    

<div class="nav-items">
  <ul>
    <li    ><a href="https://music.douban.com/artists/"
     >音乐人</a>
    </li>
    <li    ><a href="https://music.douban.com/chart"
     >排行榜</a>
    </li>
    <li    ><a href="https://music.douban.com/tag/"
     >分类浏览</a>
    </li>
    <li    ><a href="https://music.douban.com/review/latest/"
     >乐评</a>
    </li>
    <li    ><a href="https://fm.douban.com/?from_=music_nav"
     >豆瓣FM</a>
    </li>
    <li    ><a href="https://fm.douban.com/explore/songlists/"
     >歌单</a>
    </li>
    <li    ><a href="https://music.douban.com/annual/2025/?fullscreen=1&source=navigation"
            target="_blank"
     >2025年度榜单</a>
    </li>
  </ul>
</div>

    <a href="https://music.douban.com/annual/2025/?source=music_navigation" class="musicannual"></a>
  </div>
</div>

<script id="suggResult" type="text/x-jquery-tmpl">
  <li data-link="{{= url}}">
            <a href="{{= url}}" onclick="moreurl(this, {from:'music_search_sugg', query:'{{= keyword }}', subject_id:'{{= id}}', i: '{{= index}}', type: '{{= type}}'})">
            <img src="{{= pic}}" width="40" />
            <div>
                <em>{{= title}}</em>
                {{if type == "m"}}
                    <span>(艺术家)</span>
                {{else type == "a"}}
                    <span>(音乐人)</span>
                {{else type == "d"}}
                    <span>(DJ)</span>
                {{else type == "l"}}
                    <span>(厂牌)</span>
                {{/if}}
                {{if other_title}}
                    <span>其他名称：{{= other_title}}</span>
                {{/if}}
                {{if performer}}
                    <p>表演者：{{= performer}}</p>
                {{/if}}
                {{if cn_name}}
                    <p>{{= cn_name}}</p>
                {{/if}}
                {{if en_name}}
                    <p>{{= en_name}}</p>
                {{/if}}
            </div>
        </a>
        </li>
  </script>




    <script src="//img3.doubanio.com/dae/accounts/resources/f8b2226/music/bundle.js" defer="defer"></script>





  
  <div id="wrapper" class="music-content review-wrapper">
    
    
  <div id="content">
    
    <div class="grid-16-8 clearfix">
      
      
      <div class="article">
        
  <h1>
    <span property="v:summary">僕が死のうと思ったのは -- 曾经我想离开这世界</span>
  </h1>

  <div>
    <div class="main" id="7593383">
      <a class="avatar author-avatar left" href="https://www.douban.com/people/123080411/"><img width="48" height="48" src="https://img1.doubanio.com/icon/u123080411-20.jpg"></a>

      
  

  <header class="main-hd">
    <a href="https://www.douban.com/people/123080411/">
      <span>Bin(n,p)</span>
    </a>
    评论
    <a href="https://music.douban.com/subject/24859695/">僕が死のうと思ったのは</a>

      <span class="allstar50 main-title-rating" title="力荐"></span>
      <span class="main-title-hide">5</span>


    <div class="main-meta">
      <span content="2015-09-07">2015-09-07 02:57:12</span>
        
        <span></span>
    </div>


    



<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Review",
  "datePublished": "2015-09-07T02:57:12",
  "reviewBody": "中島美嘉 翻译：J 僕が死のうと思ったのは 曾经我想离开这世界 因为海猫在码头的悲鸣 随着海浪隐去 是把过去叼走飞远了吧 曾经我想离开这世界 因为生日时漫开的杏花 阳光的树荫下就这么睡下 昆虫的残骸也该归为尘...",
  "description": "{ review.abstract(200) }",
  "itemReviewed": {
    "@type": "Music",
    "name": "僕が死のうと思ったのは",
    "url": "/subject/24859695/",
    "sameAs": "https://music.douban.com/subject/24859695/",
    "image": "https://img9.doubanio.com/view/subject/m/public/s26863805.jpg"
  },
  "publisher": {
    "@type": "Organization",
    "name": "豆瓣(Douban)"
  },
  "author": {
    "@type": "Person",
    "url": "https://www.douban.com/people/123080411/",
    "name": "Bin(n,p)",
    "sameAs": "https://www.douban.com/people/123080411/"
  },
  "reviewRating": {
    "@type": "Rating",
    "ratingValue": "5"
  }
}
</script>

  </header>

      
  
  
  <div class="main-bd" id="review-7593383-content"
    data-ad-ext="有用0 · 没用0">

    
  
    

    <div id="link-report-7593383">
      <div class="review-content clearfix"
        data-author="Bin(n,p)"
        data-url="https://music.douban.com/review/7593383/"
        data-original="1">
        
        <p>中島美嘉  
翻译：J

僕が死のうと思ったのは

曾经我想离开这世界
因为海猫在码头的悲鸣
随着海浪隐去 是把过去叼走飞远了吧

曾经我想离开这世界
因为生日时漫开的杏花
阳光的树荫下就这么睡下
昆虫的残骸也该归为尘土吧

薄荷糖 渔港的灯塔
斑驳的拱桥 废弃的单车
站在车站的火炉前
心中却没有方向
今日若往昔 想明天有所改变
现在就该行动吧
我都知道 我都知道
可是啊。。

曾经我想离开这世界
因为心中空无一物
不满足而放声大哭
是心中充满渴望吧

曾经我想离开这世界
因为鞋带松了
我不擅长把东西系在一起
与人的羁绊也是如此吧

曾经我想离开这世界
因为少年找到我
他在床上跪下啊 他说
对不起啊

电脑屏幕的微光
楼上房间的声响
内线电话的嘟嘟声
捂住耳朵躲在囚笼中的少年
无形的在战斗 这狭小空间的唐吉坷德
反正最后目标一定是丑陋的吧

曾经我想离开这世界
因为被冷言冷语刺伤
想要被爱而哭泣
因为曾被温暖过吧

曾经我想离开这世界
因为你灿烂的对我微笑
脑子里只想着离开
因为曾经用力活过吧

曾经我想离开这世界
因为我还没遇见你
像你这样的人 存在这世界
让我稍微对这世界 有了喜欢啊

曾经我想离开这世界
像你这样的人 存在这世界
让我稍微对这世界 有了期待啊</p><p></p>
      </div>
      






      


    </div>

    <div class="main-author">
      
  

    </div>

    


  <div class="main-panel-useful" data-rid="7593383" data-is_owner="false" data-can_vote="true">
  <button class="btn useful_count j a_show_login" data-rid="7593383">
      有用 0
  </button>
  <button class="btn useless_count j a_show_login"  data-rid="7593383">
      没用 0
  </button>
</div>

  </div>

      
  <div class="main-ft">
    <div class="main-panel" name="7593383">
      <div class="main-sharing">
        






<style>
  .footer-sharing {
    text-align: right;
  }
</style>
<div class="review-bar">
    <div class="footer-sharing">
        

        

    </div>

</div>

      </div>
    </div>
  </div>

      
  <div id="dale_music_review_after_readmore" ></div>

    </div>
  </div>


          




<div id="comments" class="comment-list"></div>

<script type="text/javascript">
  var FRODO_API_PREFIX = 'https://m.douban.com/rexxar';
  var _COMMENTS_CONFIG = {
    'service': 'review',

    'app': 'music',

    'useCustomApi': true,
    'customApi': {
      'comments': FRODO_API_PREFIX + '/api/v2/review/:topic_id/comments',
      'allowComment': FRODO_API_PREFIX + '/api/v2/review/:topic_id/allow_comment',
      'getReplies': FRODO_API_PREFIX + '/api/v2/review/comment/:comment_id/replies',
      'addComment': FRODO_API_PREFIX + '/api/v2/review/:topic_id/create_comment',
      'addReply': FRODO_API_PREFIX + '/api/v2/review/:topic_id/create_comment',
      'delete': FRODO_API_PREFIX + '/api/v2/review/:topic_id/delete_comment',
      'react': FRODO_API_PREFIX + '/api/v2/review/comment/:comment_id/react',
    },

    'api_report': 'https://www.douban.com/misc/audit_report',

    'start': 0,
    'count': 50,

    'user': null,

    'author': {"intro":"不识知无。\n\n只作读书观影记录。不聊～\n\n","uid":"123080411","is_friend":false,"signature":"一寸先は闇","url":"https:\/\/www.douban.com\/people\/123080411\/","gender":"F","id":"123080411","avatar":"https://img1.doubanio.com\/icon\/up123080411-20.jpg","name":"Bin(n,p)"},

    'target': {"is_book_jury_review":false,"kind":1012,"forbidden_comment_message":"","is_enable_reply_comment":true,"reply_limit":"A","hidden_nonfriend_comments":false,"id":"7593383","can_add_comment":false},

    'options': {
      'enable_reaction': true,
      'only_comment_at_the_end_of_pages': false,
      'enable_comment_sync_to_status': true,
      'can_upload_file': true,
      'report_type': 'subject,comment'
    },
    'needEscape': true
  }
</script>


      
      

      </div>
      <div class="aside">
        
  


    








    <!-- douban ad begin -->
    <div id="dale_music_review_top_right"></div>
    <div id="dale_music_review_middle_mini"></div>
    <!-- douban ad end -->

  <div class="sidebar-info-wrapper">
    <div class="sidebar-copy">
      





    </div>

      
  <div class="subject-title">
    <a href="https://music.douban.com/subject/24859695/">&gt;&nbsp;僕が死のうと思ったのは</a>
  </div>

  <div class="subject-img">
    <a href="https://music.douban.com/subject/24859695/">
      <img alt="僕が死のうと思ったのは" title="僕が死のうと思ったのは"
           src="https://img9.doubanio.com/view/subject/m/public/s26863805.jpg" rel="v:image">
    </a>
  </div>

    <div class="subject-info music-info">
      <ul class="info-list">
          
  
  <li class="info-item">
    <span class="info-item-key">表演者:</span>
    <span class="info-item-val"><a href="/search?q=%E4%B8%AD%E5%B3%B6%E7%BE%8E%E5%98%89&sid=24859695">中島美嘉</a></span>
  </li>

          
  
  <li class="info-item">
    <span class="info-item-key">发行时间:</span>
    <span class="info-item-val">2013-08-28</span>
  </li>

          
  
  <li class="info-item">
    <span class="info-item-key">流派:</span>
    <span class="info-item-val">流行</span>
  </li>

          
  
  <li class="info-item">
    <span class="info-item-key">出版者:</span>
    <span class="info-item-val">ソニー・ミュージックアソシエイテッドレコーズ</span>
  </li>

          
  
  <li class="info-item">
    <span class="info-item-key">专辑类型:</span>
    <span class="info-item-val">单曲</span>
  </li>

      </ul>
    </div>


  </div>






      </div>
      <div class="extra">
        
      </div>
    </div>
  </div>

    
  <div id="footer">
      <div class="footer-extra"></div>
    

<span id="icp" class="fleft gray-link">
    &copy; 2005-2026 douban.com, all rights reserved 北京豆网科技有限公司
</span>

<a href="https://www.douban.com/hnypt/variformcyst.py" style="display: none;"></a>

<span class="fright">
    <a href="https://www.douban.com/about">关于豆瓣</a>
    · <a href="https://www.douban.com/jobs">在豆瓣工作</a>
    · <a href="https://www.douban.com/about?topic=contactus">联系我们</a>
    · <a href="https://www.douban.com/about/legal">法律声明</a>
    · <a href="https://help.douban.com/" target="_blank">帮助中心</a>
    · <a href="https://www.douban.com/doubanapp/">移动应用</a>
</span>

  </div>

  </div>
    
  
  
  <link rel="stylesheet" href="https://img1.doubanio.com/f/vendors/e8a7261937da62636d22ca4c579efc4a4d759b1b/css/ui/dialog.css">
  <script src="https://img1.doubanio.com/f/vendors/f25ae221544f39046484a823776f3aa01769ee10/js/ui/dialog.js"></script>

  
  <link rel="stylesheet" href="https://img1.doubanio.com/cuphead/zerkalo-static/popup/reg_login_pop.1c720.css">
  <script src="https://img3.doubanio.com/cuphead/zerkalo-static/popup/reg_login_popup.e77b7.js"></script>





  
  <!-- COLLECTED JS -->
  
  <script type="text/javascript">
  var reviewObj = Object.assign({}, reviewObj, {
    REVIEW_ID : 7593383,
    AUTHOR_ID : 123080411,
    USER_ID : null
  })
  </script>
  <script src="https://img1.doubanio.com/cuphead/zerkalo-static/comments/index.ba77c.js"></script>
  <script>
    if ('_IMAGE_GIF_RENDER' in window) {
      window._IMAGE_GIF_RENDER({
        preloadNum: 3
      });
    }

  $('.video-wrapper video').one('play', function(){
      var id = $(this).attr('poster').match(/movie.douban.com\/trailer\/(\d+)/);
      if (id.length === 2){
          var key = 'trailer_' + id[1];
          $.post('https://m.douban.com/rexxar/api/v2/video/' +  key +  '/count', {
              from: 'review',
              ck: get_cookie('ck')
          })
      }
  })
  </script>



  <script src="https://img9.doubanio.com/cuphead/zerkalo-static/review/index.d4a44.js"></script>

  <!-- douban ad begin -->
  
  




  <!-- douban ad end -->

  
  









<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var p=(('https:' == document.location.protocol) ? 'https' : 'http'), u=p+'://fundin.douban.com/';
    _paq.push(['setTrackerUrl', u+'piwik']);
    _paq.push(['setSiteId', '100001']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=p+'://img3.doubanio.com/dae/fundin/piwik.js';
    s.parentNode.insertBefore(g,s);
})();
</script>







  <!-- dae-web-zerkalo--default-cc4478bbc-4cxzz-->

  <script>_SPLITTEST=''</script>
</body>

</html>




































